/* body{
        overflow-x: hidden;
} */
.imagess{
    /* background:linear-gradient(rgba(168, 95, 95, 0.5),rgba(168, 95, 95, 0.5)),url(../../assets/gallery/gallery/2.jpg) ; */
    background:url(../../assets/gallery/gallery/2.jpg) ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top: 3%;
}

.imgaeee{
  background-image: url(../../assets/gallery/todo/tiger-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bgimagess{
  background-image: url(../../assets//gallery/attrection/homebg2.jpg);
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.swiperimagess{
    background-image: url(../../assets//gallery/todo/banner.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
}

.bookingimagess{
  background-image: url(../../assets//gallery/attrection/backgroud.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body {

  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 300px;
}
